base {
  log_debug = off;
  log_info = on;
  log = "stderr";
  daemon = off;
  user = redsocks;
  group = redsocks;
  redirector = iptables;
  rlimit_nofile = 500000;
  max_accept_backoff = 5000;
}

redsocks {
  local_ip = ${local_ip};
  local_port = ${local_port};

  type = socks5;
  ip = ${proxy_ip};
  port = ${proxy_port};
}